//positioning
.center {
    margin-left : auto;
    margin-right: auto;
    display     : block;
    text-align  : center;
}
.bottom {
    position: absolute;
    bottom  : 0;
}
.top {
    position: absolute;
    top     : 0;
}
.right {
    position: absolute;
    right   : 0;
}
.left {
    position: absolute;
    left    : 0;
}
